.header {
    background-color: #15223b;
    width: 100%;
    margin: 0;
    padding: 10px;
    color: white;
}

.header h2{
    margin: 0;
    padding: 0;
}

.header button {
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30%;
    background-color: red;
}